<!DOCTYPE html>
<html>
<head>
    <link rel="icon" type="image/x-icon" href="{{ url_for('static', filename='favicon.ico') }}">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/semantic-ui@2.4.2/dist/semantic.min.css">
    <title>King Blue | Email Schedule</title>
</head>
<body>
    <!-- Navigation bar -->
    <!-- Navigation bar -->
    <div class="ui fixed inverted menu">
        <div class="ui container">
            <a href="/" class="header item">
                <img src="{{ url_for('static', filename='logo.png') }}" alt="King Blue Logo">
                King Blue | News Feed
            </a>
            <a href="/config" class="item">
                <i class="cog icon"></i> SMTP
            </a>
            <a href="/manage_feeds" class="item">
                <i class="rss icon"></i> Manage Feeds
            </a>
            <a href="/manage_categories" class="item">
                <i class="folder icon"></i> Manage Categories
            </a>
            <a href="/manage_keywords" class="item">
                <i class="tag icon"></i> Manage Keywords
            </a>
            <a href="/configure_schedule" class="item">
                <i class="envelope outline icon"></i> Email Delivery
            </a>
    
            <div class="right menu">
                <a class="item green" id="helpButton"><i class="question circle icon"></i> Help</a>
                <a href="https://github.com/salemae/king_blue_news_feed" target="_blank" class="item">
                    <i class="github icon"></i> Repo
                </a>
            </div>
        </div>
    </div>
    <!-- Add padding between navigation bar and main content -->
    <div style="padding-top: 60px;"></div>
    <section class="ui primary vertical masthead aligned segment">
        
        <div class="ui container">
            {% for category, message in get_flashed_messages(with_categories=true) %}
            <div class="ui {{ category }} message">{{ message }}</div>
            {% endfor %}
            <div class="ui segment">
                <h1 class="ui header">Email Schedule Configuration</h1>
                <p>The format is in 24 hours format</p>
                <form class="ui form" method="post" action="/configure_schedule">
                    <div class="field">
                        <label>Delivery Time in Hours</label>
                        <input type="number" name="hour" min="0" max="23" value="{{ email_schedule[1] }}" required>
                    </div>
                    <div class="field">
                        <label>Email Delivery Minute</label>
                        <input type="number" name="minute" min="0" max="59" value="{{ email_schedule[2] }}" required>
                    </div>
                    <button class="ui button" type="submit">Update Email Schedule</button>
                </form>
            </div>
        </div>
        
    </section>
</body>
</html>
