<!DOCTYPE html>
<html>
<head>
    <link rel="icon" type="image/x-icon" href="{{ url_for('static', filename='favicon.ico') }}">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/semantic-ui@2.4.2/dist/semantic.min.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.0.0-beta3/css/all.min.css">
    <title>King Blue | Edit Category</title>
</head>
<body>
    <!-- Navigation bar -->
    <div class="ui fixed inverted menu">
        <div class="ui container">
            <a href="/" class="header item">
                <img src="{{ url_for('static', filename='logo.png') }}" alt="King Blue Logo">
                King Blue | News Feed
            </a>
            <a href="/config" class="item">
                <i class="cog icon"></i> SMTP
            </a>
            <a href="/manage_feeds" class="item">
                <i class="rss icon"></i> Manage Feeds
            </a>
            <a href="/manage_categories" class="item">
                <i class="folder icon"></i> Manage Categories
            </a>
            <a href="/configure_schedule" class="item">
                <i class="envelope outline icon"></i> Email Delivery
            </a>
            
            <div class="right menu">
                <a href="https://github.com/salemae/king_blue_news_feed" target="_blank" class="item">
                    <i class="github icon"></i> Repo
                </a>
            </div>
        </div>
    </div>
    <!-- Add padding between navigation bar and main content -->
    <div style="padding-top: 60px;"></div>
    <section class="ui primary vertical masthead center aligned segment">
        <div class="ui container">
            <h1 class="ui header">Edit Category</h1>
            <form action="{{ url_for('edit_category', id=category[0]) }}" method="POST" class="ui form">
                <div class="field">
                    <label>Category Name</label>
                    <input type="text" name="new_category_name" value="{{ category[1] }}" required>
                </div>
                <button class="ui blue button" type="submit">Save</button>
            </form>
        </div>
    </section>
</body>
</html>
