
    <!-- Help Modal -->
    <div class="ui small modal" id="helpModal">
        <i class="close icon"></i>
        <div class="header">
            <i class="info circle icon"></i> KingBlue App Help
        </div>
        <div class="content">
            <h3><i class="hand point right outline icon"></i> Welcome to the KingBlue App!</h3>
            <p class="text-primary">
                The KingBlue App is your personal RSS Feed Notifier that helps you stay updated with your favorite content. Here are the steps to get started:
            </p>
            <ol>
                <li>
                    <strong><i class="rss icon"></i> Add RSS Feeds:</strong> To receive updates from your favorite websites, add RSS feed sources under "Manage Feeds." You can find RSS feeds on websites like <a href="https://thehackernews.com/" target="_blank">The Hacker News</a>.
                </li>
                <li>
                    <strong><i class="envelope outline icon"></i> Setup SMTP Configuration:</strong> Configure your SMTP settings under "SMTP" for email notifications. If you don't have an SMTP server, you can use services like <a href="https://sendgrid.com" target="_blank">SendGrid</a> and <a href="https://mailgun.com" target="_blank">Mailgun</a>.
                </li>
                <li>
                    <strong><i class="calendar alternate outline icon"></i> Set the Email Delivery Schedule:</strong> Schedule when you want to receive email notifications under "Email Delivery."
                </li>
            </ol>
            <p class="text-success">Enjoy using the KingBlue App and stay informed!</p>
        </div>
        <div class="actions">
            <div class="ui cancel button">Close</div>
        </div>
    </div>

        


    