<!DOCTYPE html>
<html>
<head>
    <link rel="icon" type="image/x-icon" href="{{ url_for('static', filename='favicon.ico') }}">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/semantic-ui@2.4.2/dist/semantic.min.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.0.0-beta3/css/all.min.css">
    <title>King Blue | Home Page</title>
</head>
<body>
    <div class="ui fixed inverted menu">
        <div class="ui container">
            <a href="/" class="header item">
                <img src="{{ url_for('static', filename='logo.png') }}" alt="King Blue Logo">
                King Blue | News Feed
            </a>
            <a href="/config" class="item">
                <i class="cog icon"></i> SMTP
            </a>
            <a href="/manage_feeds" class="item">
                <i class="rss icon"></i> Manage Feeds
            </a>
            <a href="/manage_categories" class="item">
                <i class="folder icon"></i> Manage Categories
            </a>
            <a href="/manage_keywords" class="item">
                <i class="tag icon"></i> Manage Keywords
            </a>
            <a href="/configure_schedule" class="item">
                <i class="envelope outline icon"></i> Email Delivery
            </a>
    
            <div class="right menu">
                <a class="item green" id="helpButton"><i class="question circle icon"></i> Help</a>
                <a href="https://github.com/salemae/king_blue_news_feed" target="_blank" class="item">
                    <i class="github icon"></i> Repo
                </a>
            </div>
        </div>
    </div>
    
    <!-- Add padding between navigation bar and main content -->
    <div style="padding-top: 60px;"></div>
    <section class="ui primary vertical masthead center aligned segment">

        <div class="ui container">
            {% for category, message in get_flashed_messages(with_categories=true) %}
            <div class="ui {{ category }} message">{{ message }}</div>
            {% endfor %}
            <div class="ui segment">
                <div class="ui four cards">
                    <!-- Number of RSS Feeds Widget -->
                    <div class="card teal">
                        <div class="content">
                            <i class="fas fa-rss icon big"></i>
                            <div class="header">RSS Feeds</div>
                        </div>
                        <div class="extra content">
                            <div class="data center aligned">
                                <p class="big">{{ rss_feeds_count }}</p>
                            </div>
                        </div>
                    </div>
                    <!-- Number of Subscribers Widget -->
                    <div class="card yellow">
                        <div class="content">
                            <i class="fas fa-users icon big"></i>
                            <div class="header">Subscribers</div>
                        </div>
                        <div class="extra content">
                            <div class="data center aligned">
                                <p class="big">{{ subscriber_count }}</p>
                            </div>
                        </div>
                    </div>
                    <!-- Number of Categories Widget -->
                    <div class="card purple">
                        <div class="content">
                            <i class="fas fa-folder icon big"></i>
                            <div class="header">Categories</div>
                        </div>
                        <div class="extra content">
                            <div class="data center aligned">
                                <p class="big">{{ category_count }}</p>
                            </div>
                        </div>
                    </div>
                    <div class="card blue">
                        <div class="content">
                            <i class="fas fa-tags icon big"></i>
                            <div class="header">Keywords</div>
                        </div>
                        <div class="extra content">
                            <div class="data center aligned">
                                <p class="big">{{ keyword_count }}</p>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            
            
            <div class="ui segments">
                <div class="ui segment">
                    <h1 class="ui header">Add Subscribers</h1>
                    <form action="/subscribe" method="POST" class="ui form">
                        <div class="field">
                            <div class="ui left action input">
                                <input type="email" name="email" placeholder="Enter your email">
                                <button class="ui blue button" type="submit"><i class="envelope outline icon"></i> Subscribe</button>
                            </div>
                        </div>
                    </form>
                </div>
                <div class="ui segment">
                    <h2 class="ui header">Manage Subscribers</h2>
                    <table class="ui striped selectable celled table">
                        <thead>
                            <tr>
                                <th>Email</th>
                                <th>Actions</th>
                            </tr>
                        </thead>
                        <tbody>
                            {% for subscriber in subscribers %}
                            <tr>
                                <td>{{ subscriber[1] }}</td>
                                <td style="text-align: right;">
                                    <div class="ui buttons">
                                        <a class="ui button" href="/edit/{{ subscriber[0] }}">Edit</a>
                                        <div class="or"></div>
                                        <a class="ui negative button" href="/remove/{{ subscriber[0] }}">Remove</a>
                                    </div>
                                </td>
                            </tr>
                            {% endfor %}
                        </tbody>
                    </table>
                </div>
                <a class="ui blue button" href="/send_email"><i class="envelope icon"></i> Send Emails</a>
            </div>
        </div>
    </section>

    <!-- Help Modal -->
    <div class="ui small modal" id="helpModal">
        <i class="close icon"></i>
        <div class="header">
            <i class="info circle icon"></i> KingBlue App Help
        </div>
        <div class="content">
            <h3><i class="hand point right outline icon"></i> Welcome to the KingBlue App!</h3>
            <p class="text-primary">
                The KingBlue App is your personal RSS Feed Notifier that helps you stay updated with your favorite content. Here are the steps to get started:
            </p>
            <ol>
                <li>
                    <strong><i class="rss icon"></i> Add RSS Feeds:</strong> To receive updates from your favorite websites, add RSS feed sources under "Manage Feeds." You can find RSS feeds on websites like <a href="https://thehackernews.com/" target="_blank">The Hacker News</a>.
                </li>
                <li>
                    <strong><i class="envelope outline icon"></i> Setup SMTP Configuration:</strong> Configure your SMTP settings under "SMTP" for email notifications. If you don't have an SMTP server, you can use services like <a href="https://sendgrid.com" target="_blank">SendGrid</a> and <a href="https://mailgun.com" target="_blank">Mailgun</a>.
                </li>
                <li>
                    <strong><i class="calendar alternate outline icon"></i> Set the Email Delivery Schedule:</strong> Schedule when you want to receive email notifications under "Email Delivery."
                </li>
            </ol>
            <p class="text-success">Enjoy using the KingBlue App and stay informed!</p>
        </div>
        <div class="actions">
            <div class="ui cancel button">Close</div>
        </div>
    </div>

    <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/semantic-ui@2.4.2/dist/semantic.min.js"></script>
    <script>
        // JavaScript to show the help modal
        $(document).ready(function() {
            $('#helpButton').click(function() {
                $('#helpModal').modal('show');
            });
        });
    </script>
</body>
</html>
