<!DOCTYPE html>
<html>
<head>
    <link rel="icon" type="image/x-icon" href="{{ url_for('static', filename='favicon.ico') }}">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/semantic-ui@2.4.2/dist/semantic.min.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.0.0-beta3/css/all.min.css">
    <title>King Blue | Manage Keywords</title>
</head>
<body>
    <!-- Navigation bar -->
    {% include 'navbar.html' %}
    <div style="padding-top: 60px;"></div>
    <section class="ui primary vertical masthead aligned segment">
        <div class="ui container">
            {% for category, message in get_flashed_messages(with_categories=true) %}
            <div class="ui {{ category }} message">{{ message }}</div>
            {% endfor %}
            <div class="ui segment">
                <h2 class="ui header">Add Keyword</h2><p>Keywords added to this list are monitored and if found an alert is sent</p>
                <form class="ui form" method="post" action="{{ url_for('manage_keywords') }}">
                    <div class="field">
                        <label>Keyword</label>
                        <input type="text" name="keyword" placeholder="Keyword" required>
                    </div>
                    <button class="ui button" type="submit" name="Add Keyword">Add Keyword</button>
                </form>
            </div>
            <h2 class="ui header">Manage Keywords</h2>
            <!-- Display the list of existing keywords and options to remove keywords -->
            <form class="ui form" method="post" action="{{ url_for('manage_keywords') }}">
                <table class="ui striped selectable celled table">
                    <thead>
                        <tr>
                            <th>Keyword</th>
                            <th>Actions</th>
                        </tr>
                    </thead>
                    <tbody>
                        {% for keyword in keywords %}
                        {% if keyword != 'thisisasamplewordtonotbemonitored' %}
                            <tr>
                                <td>{{ keyword }}</td>
                                <td style="text-align: right;">
                                        <a href="{{ url_for('remove_keyword', id=keyword) }}" class="ui negative button" type="submit">Remove</a>
                                </td>
                            </tr>
                        {% endif %}
                    {% endfor %}
                    </tbody>
                </table>
            </form>
        </div>
    </section>
    {% include 'help_modal.html' %}
    <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/semantic-ui@2.4.2/dist/semantic.min.js"></script>
    <script>
        // JavaScript to show the help modal
        $(document).ready(function() {
            $('#helpButton').click(function() {
                $('#helpModal').modal('show');
            });
        });
    </script>
</body>
</html>
